[Unit]
Description=Java Worker Application Service

[Service]
Environment=REDIS_HOST={{ hostvars['redis'].ansible_host }}
Environment=POSTGRES_USER={{ postgresql_username }}
Environment=POSTGRES_PASSWORD={{ postgresql_password }}
Environment=POSTGRES_HOST={{ hostvars['postgresql'].ansible_host }}
Environment=POSTGRES_PORT={{ postgresql_port }}
Environment=POSTGRES_DB={{ postgresql_db }}
WorkingDirectory=/var/www/worker
ExecStart=/usr/bin/java -jar /var/www/worker/target/worker-jar-with-dependencies.jar
Restart=on-failure
